<style> 
body { background: #6da3a6 }
      body, button, input { color: #030 }
      button, input, dialog { background: #bdb; border-color: #363 }
      button:hover { background: #9c9 }
      button:active { background: #8c8 }
      button:disabled, button:disabled:hover, button:disabled:active { background: #cec }
      dialog { background: #cec }
      dialog::backdrop { background: #0009 }
      dialog details[open] { background: #bdb }
</style> 

